nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav ul li:last-of-type {
  margin-lefT:auto;
}

body {
      	transition: background-color 0.5s;
	background-color: white;
}

/* Switch button */
.switch {
	width: 50px;
	border: 1px solid black;
	border-radius: 20px;
	padding-left: 2px;
	padding-bottom: 2px;
}

.dark-mode {
	transition: background-color 0.5s;
	background-color: black;
	color: white;
}

.dark-mode .switch {
	border: 1px solid white;
}

.switch:before {
	transition: 0.5s;
	background-color: black;
	padding: 1px 5px;
	border-radius: 30px;
	color: white;
	content: '☀︎';
}

.dark-mode .switch:before {
	transition: 0.5s;
	background-color: white;
	color: black;
	margin-left: 20px;
	content: '★';
}

/* Contact Us */
form {
  text-align: center;
  max-width: 500px;
  background-color:#fff;
  border-radius: 5px;
  border: 2px solid #8e44ad;
  padding: 20px 30px;
}

label {
  text-align: left;
  display: inline-block;
  width: 100%;
}

input[type="submit" i], input[type="reset" i]{
  background: #8e44ad;
  padding: 5px 10px;
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  transition: all 0.3s linear;
}

input {
  margin: 5px 0px;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

input[type="text"], input[type="tel"], input[type="email"] {
  width: 100%;
}

textarea {
  margin:5px 0px;
  width:100%;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  min-height: 150px;
}

/* General */
section {
  margin:5%;
}

/* Tu namieszałam */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #8e44ad;
  color: #fff;
}

.container{
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.container .box{
  width: calc(33% - 10px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
  border: solid #8e44ad;
}
.box .quote i{
margin-top: 10px;
font-size: 45px;
color: #17c0eb
}
.container .box .image{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #8e44ad;
  padding: 3px;
  border-radius: 50%;
}
.box .image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
.box p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.box .name{
  margin: 10px 0 3px 0;
  color: #8e44ad;
  font-size: 18px;
  font-weight: 600;
}

.btns{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btns button{
  background: #8e44ad;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-left: 5px;
  transition: all 0.3s linear;
}

.btns button:hover{
  background: #53186d;
}

@media (max-width:1045px){
  .container .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;
  }
}
